@CHARSET "ISO-8859-1";

h1 {
  font-family: 'Gloria Hallelujah';
  font-size: 42px;
  text-shadow: 4px 4px 4px #aaa;
}

h3, h2 {
  font-family: 'Gloria Hallelujah';
  font-size: 28px;
  text-shadow: 4px 4px 4px #aaa;
}

div, pre, tbody {
	font-family: 'Pavanam';
  	font-size: 18px;
}

.col-sm-4{
	background-color:lavender;
	height: 400px;
}

.col-sm-8{
	background-color:lavenderblush;
	height: 200px;
}